<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EmployeeConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Employee;Integrated Security=True;user id=testUser;password=1"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\emp.mdf;Integrated Security=True;User Instance=True;user id=testUser;password=1"
      providerName="System.Data.SqlClient" />
    <add name="CustomerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Customer;user id=testUser;password=1"
      providerName="System.Data.SqlClient" />
    <add name="CustomerConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Customer;Integrated Security=True;user id=testUser;password=1"
      providerName="System.Data.SqlClient" />
    <add name="LoginConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Customer;User ID=testUser;Password=1"
      providerName="System.Data.SqlClient" />
    <add name="CustomerConnectionString3" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Customer;Persist Security Info=True;User ID=testUser;Password=1"
      providerName="System.Data.SqlClient" />
    <add name="CustomerConnectionString4" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Customer;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
          description="Default SiteMap provider."
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="Web.sitemap"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
 
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>